body {
  background-color: $sub-main;
}

.Main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-radius: 10px;
  background: $secondary;
}
