footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .Player {
    height: 72px;
    background-color: $secondary;
    display: flex;
    align-items: cetner;
    justify-content: space-around;
  }
  .Progress {
    width: 100%;
    height: 20px;
    background-color: $dark-submain;
    .Value {
      height: 20px;
      background-color: $main;
    }
    .Time {
      position: relative;
      top: -20px;
      left: 0;
      opacity: 0;
     }
    .Time:hover {
      margin-left: 10px;
      font-size: 17px;
      color: $secondary;
      opacity: 1;
    }
  }
}

.SongInfo {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text {
    color: rgb(100, 100, 100);
  }
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.VolumeControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.VolumeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 10px;  
  background: $dark-submain;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $main;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $main;
    cursor: pointer;
  }
}
