.Song {
  display:flex;
  justify-content: start;
  .Controls {
    display: flex;
    justify-content: space-between;
    button {
      background-color: $text;
      border: 0;
      width: $playerButton;
      height: $playerButton;
      display: flex; align-items: center; justify-content: center;

      border-radius: 100%;
      img {
        width: 80%;
        height: 80%;
        opacity: 0.75; 
      }
    }
  }
}
